.prod-container{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  row-gap: 40px;
  color: #ffffff;
  align-self: center;
  flex: 1;
  padding: 60px 200px;
  column-gap: 60px;
}

.map-img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 80px;
  width: 400px;
  height: 400px;
  overflow: hidden;
}

.img {
  object-fit: contain;
}

.results {
  display: flex;
  max-width: 70vw;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 40px;
}

h1 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 48px;
  margin: 10px 0;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #3E92CC;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  font-style: normal;
  font-size: 20px;
  margin: 20px 0;
  height: 80px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  color: #3E92CC;

}

.store-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  column-gap: 20px;
}

h5 {
  flex: 1;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  margin: 0;
  color: #ffffff;
  text-decoration: underline;
}

.price-tag {
  text-decoration: none;
  color: #FCFF54
}