.nav-container{
  background-color: #102542;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 60px;
}

.menu {
  background-color: #3E92CC;
  display: flex;
  flex: 1;
  max-width: 400px;
  height: 100%;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
}